@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }

body {
    font-family: 'Dongle', sans-serif;
} 


:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }

.navbar {
    position: fixed;
    width: 17vw;
    height: 100vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-element {
    text-transform: uppercase;
    font-size:2em ;
    
    transition: 0.3s;
    display: flex;
    flex-direction: row;
}

.nav-element a {
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 1s, margin 0.2s;
}
  
.nav-element a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
    margin-left: 15px;
}

section {
    width: 100vw;
    height: 100vh;
}

#maison {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.fiche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    border: darkslateblue;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.nom {
    display: flex;
    justify-content: center;
    font-size:4em ;
    line-height: 1em;
}

.nom span{
    z-index: 31;
}

.nom span:nth-child(1).shake {
	animation: .8s shake infinite alternate;
    cursor: crosshair;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

.nom span:nth-child(1).active {
	animation: balance 2.7s ease-out;
	transform-origin: bottom;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	5%, 99% {
		transform: rotate(-90deg);
	}
}

.socials {
    display: flex;
    justify-content: space-around;   
    margin: 1% 0 0 0;
}

.social-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
    align-items: center;
    margin: 0 20% 0 20%;
    transition: .5s ease-out;
}

.social-element:hover {
    transform: scale(1.3);
}

.social-element p{
    font-size: x-large;
}

.social-element img {
    
}

.autre {

}

.contacter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }

    .btn-3 {
        padding: 5px;
      }
      .btn-3 span {
        color: rgb(255, 255, 255);
        background-color: rgb(54, 56, 55);
      }
      .btn-3::before,
      .btn-3::after {
        background: transparent;
        z-index: 2;
      }
      
      /* 11. hover-border-1 */
      .btn.hover-border-1::before,
      .btn.hover-border-1::after {
        width: 10%; height: 25%;
        transition: 0.35s;
      }
      .btn.hover-border-1::before {
        top: 0; left: 0;
        border-left: 1px solid rgb(28, 31, 30);
        border-top: 1px solid rgb(28, 31, 30);
      }
      .btn.hover-border-1::after {
        bottom: 0; right: 0;
        border-right: 1px solid rgb(28, 31, 30);
        border-bottom: 1px solid rgb(28, 31, 30);
      }
      .btn.hover-border-1:hover::before,
      .btn.hover-border-1:hover::after {
        width: 99%;
        height: 98%;
      }
      
      /* 12. hover-border-2 */
      .btn.hover-border-2::before,
      .btn.hover-border-2::after {
        width: 10%; height: 25%;
        transition: 0.35s;
      }
      .btn.hover-border-2::before {
        bottom: 0; left: 0;
        border-left: 1px solid rgb(28, 31, 30);
        border-bottom: 1px solid rgb(28, 31, 30);
      }
      .btn.hover-border-2::after {
        top: 0; right: 0;
        border-right: 1px solid rgb(28, 31, 30);
        border-top: 1px solid rgb(28, 31, 30);
      }
      .btn.hover-border-2:hover::before,
      .btn.hover-border-2:hover::after {
        width: 99%;
        height: 99%;
      }


#profil {
    background-color: chartreuse;
}

#competences {
    background-color: chocolate;
}

#portfolio {
    background-color: darkslateblue;
}
  